body {
    background: #7e6666;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 25px;
}

.adresse {
    width: 350px;
}

.couleur {
    width: 40px;
}

.formulaire {
    width: 50%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px #ccc;
    text-align: left;
}

label {
    display: block;
    font-weight: normal;
    margin-top: 10px;
}

input, select, textarea {
    border-radius: 0;
    border: 1px solid black;
    padding: 5px;
}

input[type="checkbox"],
input[type="radio"],
input[type="color"],
input[type="range"] {
    width: auto;
}

.ligne {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

label {
    width: 180px;
    text-align: right;
    margin-right: 10px;
}

.couleur {
    width: 150px;
    height: 30px;
    border: 2px solid black;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
}
