body {
    background-color: #5ae7e7;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: green;
    text-align: center;
    font-size: 30px;
}

h3 {
    margin-top: 20px;
}

label{
    display: block;
    margin: 5px 0;
}

button {
    text-align: right;
    font-size: 20px;
}