body {
    font-family: Verdana, Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

nav > ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav > ul > li {
    float: left;
    position: relative;
}

.submenu {
    display: none;
}

nav input[type=checkbox] {
    display: none;
}

.menu-mobile {
    display: none;
}

nav {
    width: 100%;
    background-color: #424558;
}

nav > ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a {
    padding: 20px 30px;
    color: #fff;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 100000;
}

.submenu li {
    border-bottom: 1px solid #ccc;
}

.submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

.menu-html:hover {
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}

.menu-css:hover {
    border-top: 5px solid #0070bb;
    background-color: rgba(0, 112, 192, 0.15);
}

.menu-js:hover {
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}

.missionsetcertifications:hover {
    border-top: 5px solid #bbb;
    background-color: rgba(220, 220, 220, 0.15);
}

.menu-contact:hover {
    border-top: 5px solid #9b59b6;
    background-color: rgba(155, 89, 182, 0.15);
}

nav > ul > li:hover a {
    padding: 15px 30px 20px 30px;
}

.menu-html .submenu {
    background-color: rgb(230, 100, 40);
}

.menu-css .submenu {
    background-color: rgb(0, 160, 240);
}

.missionsetcertifications .submenu {
    background-color: rgb(155, 89, 182);
}

.menu-js .submenu {
    background-color: rgb(251, 216, 99);
}

.submenu li:hover a {
    color: #eee;
    font-weight: bold;
}

.menu-html .submenu li:hover {
    background-color: rgb(210, 77, 60);
}

.menu-css .submenu li:hover {
    background-color: rgb(0, 115, 200);
}

.menu-js .submenu li:hover {
    background-color: rgb(200, 165, 75);
}

.missionsetcertifications .submenu li:hover {
    background-color: rgb(135, 70, 160);
}

.menu-mobile {
    display: none;
}

nav input[type=checkbox]:checked ~ ul {
    display: block;
}

@media screen and (max-width: 680px) {
    .menu-mobile {
        display: block;
        color: #fff;
        background-color: rgba(29, 197, 151, 0.97);
        text-align: center;
        padding: 12px 0;
    }

    nav ul {
        display: none;
    }

    nav ul li,
    nav ul li a {
        width: 100%;
        text-align: center;
    }

    nav ul li a,
    nav ul li:hover a {
        padding: 10px 0;
    }

    nav li:hover .submenu {
        display: block;
        position: static;
    }
}
