body {
  background-color: #e0e0e0;
  color: #333333;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

