body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

input {
    width: 270px;
    padding: 12px;
    margin: 10px;
    font-size: 1.2em;
    border: 4px solid #e3e5c8;
    border-radius: 8px;
    background-color: #ffffff;
    color: #2d14cd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: border 0.3s ease;
}

button {
    background-color: grey;
    color: black;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button2 {
    background-color: grey;
    color: black;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    color: grey;
    font-size: 16px;
    line-height: 1.5;
}

p2 {
    margin: 10px;
    color: black;
    font-size: 26px;
    line-height: 1.5;
}

.c1 img {
    max-width: 13%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c2 {
    height: 60px;
    width: 10px;
    margin: 10px;
    text-align: left;
}

.c3 {
    height: 60px;
    width: 1750px;
    margin: 10px;
    text-align: right;
}
