body {
    font-family: 'Roboto', sans-serif;
    background-color: #1caac4;
    text-align: center;
    margin: 0;
    padding: 20px;
    }

input {
    width: 270px;
    padding: 12px;
    margin: 10px;
    font-size: 1.2em;
    border: 4px solid #e3e5c8;
    border-radius: 8px;
    background-color: #ffffff;
    color: #2d14cd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: border 0.3s ease;
    }

button {
    background-color: #1e1c8a;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

button:hover {
    background-color: #6c5ce7;
    box-shadow: 0px 4px 15px rgba(231, 92, 208, 0.4);
    }


p {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    }